@model Poms.Web.ViewModels.PatientViewModel

@{
    ViewData["Title"] = "Register New Patient";
}

<h1>Register New Patient</h1>

<form asp-action="Create" method="post" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Personal Information</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="Dob" class="form-label"></label>
                    <input asp-for="Dob" class="form-control" type="date" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="Sex" class="form-label"></label>
                    <select asp-for="Sex" class="form-select" asp-items="ViewBag.SexOptions">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="NationalId" class="form-label"></label>
                    <input asp-for="NationalId" class="form-control" />
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Contact Information</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Address1" class="form-label"></label>
                    <input asp-for="Address1" class="form-control" />
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Address2" class="form-label"></label>
                    <input asp-for="Address2" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="ProvinceId" class="form-label"></label>
                    <select asp-for="ProvinceId" class="form-select" id="provinceSelect" asp-items="ViewBag.Provinces">
                        <option value="">-- Select Province --</option>
                    </select>
                    <span asp-validation-for="ProvinceId" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="DistrictId" class="form-label"></label>
                    <select asp-for="DistrictId" class="form-select" id="districtSelect" disabled>
                        <option value="">-- Select District --</option>
                    </select>
                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="CenterId" class="form-label"></label>
                    <select asp-for="CenterId" class="form-select" id="centerSelect" disabled>
                        <option value="">-- Select Center --</option>
                    </select>
                    <span asp-validation-for="CenterId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="Phone1" class="form-label"></label>
                    <input asp-for="Phone1" class="form-control" />
                    <span asp-validation-for="Phone1" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="Phone2" class="form-label"></label>
                    <input asp-for="Phone2" class="form-control" />
                    <span asp-validation-for="Phone2" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Guardian Information (Optional)</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="GuardianName" class="form-label"></label>
                    <input asp-for="GuardianName" class="form-control" />
                    <span asp-validation-for="GuardianName" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="GuardianRelationship" class="form-label"></label>
                    <input asp-for="GuardianRelationship" class="form-control" />
                    <span asp-validation-for="GuardianRelationship" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="GuardianAddress" class="form-label"></label>
                    <input asp-for="GuardianAddress" class="form-control" />
                    <span asp-validation-for="GuardianAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="GuardianPhone1" class="form-label"></label>
                    <input asp-for="GuardianPhone1" class="form-control" />
                    <span asp-validation-for="GuardianPhone1" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="GuardianPhone2" class="form-label"></label>
                    <input asp-for="GuardianPhone2" class="form-control" />
                    <span asp-validation-for="GuardianPhone2" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Registration Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="RegistrationDate" class="form-label"></label>
                    <input asp-for="RegistrationDate" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ReferredBy" class="form-label"></label>
                    <input asp-for="ReferredBy" class="form-control" />
                    <span asp-validation-for="ReferredBy" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label asp-for="Remarks" class="form-label"></label>
                    <textarea asp-for="Remarks" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-circle"></i> Register Patient
        </button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // Province change
            $('#provinceSelect').change(function () {
                var provinceId = $(this).val();
                $('#districtSelect').prop('disabled', true).empty().append('<option value="">-- Select District --</option>');
                $('#centerSelect').prop('disabled', true).empty().append('<option value="">-- Select Center --</option>');

                if (provinceId) {
                    $.get('/Patients/GetDistrictsByProvince', { provinceId: provinceId }, function (data) {
                        $('#districtSelect').prop('disabled', false);
                        $.each(data, function (i, district) {
                            $('#districtSelect').append($('<option>').val(district.id).text(district.name));
                        });
                    });
                }
            });

            // District change
            $('#districtSelect').change(function () {
                var districtId = $(this).val();
                $('#centerSelect').prop('disabled', true).empty().append('<option value="">-- Select Center --</option>');

                if (districtId) {
                    $.get('/Patients/GetCentersByDistrict', { districtId: districtId }, function (data) {
                        $('#centerSelect').prop('disabled', false);
                        $.each(data, function (i, center) {
                            $('#centerSelect').append($('<option>').val(center.id).text(center.name));
                        });
                    });
                }
            });

            // Trigger cascade on page load if editing
            @if (Model.ProvinceId > 0)
            {
                <text>
                $('#provinceSelect').trigger('change');
                setTimeout(function() {
                    $('#districtSelect').val(@Model.DistrictId).trigger('change');
                    setTimeout(function() {
                        $('#centerSelect').val(@Model.CenterId);
                    }, 300);
                }, 300);
                </text>
            }
        });
    </script>
}
